#sherlock directories ignored for now
analysis/
code_for_sunjae/
behavior_preprocessing/
dual_task_analysis/
me_combination/
preprocessing/
sbatches/
connectivity_analysis/
extract_timeseries/
nilearn_cache/
qc_tedana/
BIDS_scripts/
pilot_subjects.txt
README.md

*/__pycache__/
*/.DS_store
*/._.DS_store
*/._analyze_lev1.py
*/._network_excluded_subjects.csv
